<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mod</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="header">
      <img href="">
      <ul>
        <li>
          <a href="/login">ログイン</a>
        </li>
      </ul>
    </div>
    <div class="main">
        <div class="container">
          <!--スマホ：１項　PC：四項ずつ共創プロを並べる-->
          <!--畏敬・新感・興奮・胎内-->
        </div>
    </div>
  </body>
</html>